<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
  <title>文本工具 - 小助手</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="index.css"/>
  <script type="text/javascript" src="../vendor/evalCore.min.js"></script>
  <script type="text/javascript" src="../vendor/vue/vue.js"></script>
</head>
<body>
<div id="pageContainer">
  <div>
    <button @click="toCamelCase">下划线 转 驼峰</button>
    <button @click="toUpperCase">首字母大写</button>
    <button @click="toSnakeCase">驼峰 转 下划线</button>
    <button @click="toUrlEncode">UrlEncode编码</button>
    <button @click="toUrlDecode">UrlDecode解码</button>
    <button @click="toUnserialize">php unserialize</button>
  </div>
  <div>
    <!-- 左边 -->
    <div>
      <textarea placeholder="在这里粘贴您需要进行转换的内容" v-model="rawText"></textarea>

      <br/>

      <span v-if="errorMsg">{{ errorMsg }}</span>
    </div>

    <!-- 右边 -->
    <div>
      <pre v-html="placeHolder"></pre>
    </div>
  </div>
</div>
<script src="index.js"></script>
</body>
</html>
