<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
  <title>json美化工具 - 小助手</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="index.css"/>
  <script type="text/javascript" src="../vendor/evalCore.min.js"></script>
  <script type="text/javascript" src="../vendor/vue/vue.js"></script>
</head>
<body>
<div id="pageContainer">
  <div>
    <button @click="format">格式化</button>
  </div>
  <div>
    <!-- 左边 -->
    <div>
      <textarea placeholder="在这里粘贴您需要进行格式化的JSON代码" v-model="rawJson"></textarea>

      <br/>

      <span v-if="errorMsg">{{ errorMsg }}</span>
    </div>

    <!-- 右边 -->
    <div>
      <button @click="copyText">复制</button>
      <pre v-html="placeHolder"></pre>
    </div>
  </div>
</div>
<script src="index.js"></script>
</body>
</html>
